@model PlaceOrderRequest

<div class="page">
    <form class="checkout" method="post">
        <div>
            <div class="title">Billing information</div>
            <p class="hints">Please fill all required fields to complete place order.</p>
            <div class="space-between">
                <input type="text" asp-for="FirstName" placeholder="First Name" />
                <input type="text" asp-for="LastName" placeholder="Last Name" />
            </div>
            <input type="email" asp-for="Email" placeholder="Email" />
            <input type="text" asp-for="PhoneNumber" placeholder="Phone Number" />
            <div class="space-between">
                <input type="text" asp-for="CardNumber" placeholder="Card Number" />
                <input type="text" asp-for="NameOnCard" placeholder="Name On Card" />
            </div>
            <div class="space-between">
                <input type="text" asp-for="CVV" placeholder="CVV" />
                <input type="text" asp-for="ExpireDate" placeholder="MMYY" />
            </div>
        </div>
        <div>
            <div class="title">Your cart</div>
            @if (ViewBag.Cart?.Items is not null)
            {
                <p class="hints">There are <b>@ViewBag.Cart?.Items?.Count</b> items in your cart.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Cart.Items)
                        {
                            <tr>
                                <td>@item.Description</td>
                                <td>@item.Quantity</td>
                                <td>$ @item.Price</td>
                            </tr>   
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <span>Total:</span>
                            </td>
                            <td>$ @((ViewBag.Cart as Cart)?.Items?.Sum(s => s.Price * s.Quantity))</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="submit" value="Place Order" />
                                <a asp-controller="carts" asp-action="index" class="button">Return To Cart</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            }
            else
            {
                <p class="hints">Your cart is empty.</p>
                <a asp-controller="carts" asp-action="index" class="button">Return To Cart</a>
            }
        </div>
    </form>
</div>