@model Marketplace.Web.Components.SelectCheckbox

<div class="select-checkbox">
    <label>@Model.text</label>
    <i class="fa-solid fa-angle-down"></i>
    <ul>
        @if (Model.items is not null)
        {
            foreach (var item in Model.items)
            {
                <li>
                    <input type="checkbox" readonly name="@Model.name" id="@Model.name-@item.id" value="@item.id" />
                    <label for="@Model.name-@item.id">@item.text</label>
                </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">

    const control = document.querySelector(".select-checkbox");
    const label = control.querySelector("label");
    const list = control.querySelector("ul");
    const items = list.querySelectorAll("li");

    control.addEventListener("click", (event) => {
        event.stopPropagation();
        document.querySelectorAll(".active").forEach(activeControl => {
            if (!activeControl.contains(control))
                activeControl.classList.remove("active");
        });
        window.onclick = () => {
            window.onclick = null;
            control.classList.remove("active");
        }
        control.classList.toggle("active");
    });

    items.forEach(item => {
        item.addEventListener("click", (event) => {
            let values = list.querySelectorAll("input[type=checkbox]:checked");
            if (label !== null && values !== undefined) {
                label.innerText = values.length > 0 ?
                    `@Html.Raw(@Model.text) (${values.length})`:
                    `@Html.Raw(@Model.text)`;
            }
        })
    })

</script>