@model Marketplace.Web.Components.SelectCheckbox

<div class="select-checkbox">
    <label data-text="@Model.text" data-length="@Model.items?.Count" data-values="@Model.values.Length">@Model.text</label>
    <i class="fa-solid fa-angle-down"></i>
    <ul>
        @if (Model.items is not null)
        {
            foreach (var item in Model.items)
            {
                <li>
                    <input type="checkbox" readonly name="@Model.name" id="@Model.name-@item.id" value="@item.id" @(Model.values.Any(w => w.Equals(item.id)) ? "checked": "" ) />
                    <label for="@Model.name-@item.id">@item.text</label>
                </li>
            }
        }
    </ul>
</div>