@model IPagination<Product>

<div class="page">
    <div class="title">Marketplace</div>
    <div class="header">
        <p class="hints">Welcome to the marketplace.</p>
    </div>
    <div class="products">
        @if (Model is not null && Model.Items is not null)
        {
            @foreach (var product in Model.Items)
            {
                <a asp-controller="products" asp-action="view" asp-route-id="@product.Id">
                    <div class="product">
                        <img src="@product.GetCover()" />
                        <label class="name">@product.Name</label>
                        <label class="store">@product.Store?.Name</label>
                        <div class="columns">
                            <label class="reviews">Reviews (0)</label>
                            <label class="price">$ @product.Price</label>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>