@model Marketplace.Web.Components.Select

<div class="select">
    <input type="hidden" name="@Model.name" value="@ViewBag.SelectViewComponent.value" />

    @{
        var parent = Model.items?.FirstOrDefault(m => m.id.Equals(Model.value));

        if (parent is not null)
        {
            <label>@parent.text</label>
        }
        else
        {
            <label>@Model.text</label>
        }
    }

    <i class="fa-solid fa-angle-down"></i>
    <ul>
        <li class='disabled'>@Model.text</li>

        @if (Model.items is not null)
        {
            @foreach (var item in Model.items)
            {
                if (item.id.Equals(parent?.id))
                {
                    <li class="selected" value="@item.id">@item.text</li>
                }
                else
                {
                    <li value="@item.id">@item.text</li>
                }
            }
        }

    </ul>
</div>